.custom-sidebar .contents > .topic-list {
  // Don't show the sidebar
  > div {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  // Show the sidebar at 767px
  .custom-sidebar {
    &.sidebar-left .contents > .topic-list {
      grid-template-columns: 20% 78%;
      @media screen and (max-width: 900px) {
        grid-template-columns: 25% 73%;
      }
      grid-template-areas:
        "sidebar head"
        "sidebar body";
    }
    &.sidebar-right .contents > .topic-list {
      grid-template-columns: 78% 20%;
      @media screen and (max-width: 900px) {
        grid-template-columns: 73% 25%;
      }
      grid-template-areas:
        "head sidebar"
        "body sidebar";
    }
    .contents > .topic-list {
      display: grid;
      grid-column-gap: 2%;
      align-items: start;
      grid-template-rows: 50px auto;

      thead {
        grid-area: head;
        display: table;
        align-self: end;
        width: 100%; // Safari
      }
      > .category-sidebar {
        overflow: hidden;
        display: flex;
        margin-top: 15px;
        grid-area: sidebar;
        order: 3;
        padding: 0;
        position: relative;
        @if $stick-on-scroll == "true" {
          position: sticky;
          top: 80px;
          max-height: 70vh;
          @media screen and (max-height: 925px) {
            max-height: 55vh;
          }
          overflow-y: auto;
        }
        .cooked {
          img,
          video,
          iframe {
            width: 100%;
            height: auto;
          }
          img.emoji {
            width: 20px;
          }
          ul,
          ol {
            padding-left: 30px;
          }
        }
      }
      tbody {
        grid-area: body;
        display: table;
        width: 100%;
      }
    }
  }
}

.custom-sidebar {
  #list-area .show-more.has-topics .alert {
    // New topic notification needs to be narrower
    box-sizing: border-box;
    width: 78%;
    @media screen and (max-width: 900px) {
      width: 73%;
    }
  }
}
